In [2]:
import numpy as np
import pandas as pd

In [17]:
bigmart=pd.read_csv(r"E:\Praxis-BA-18\Term-2\datasets\Retail_dataset\Train.csv")
bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
bigmart.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [6]:
bigmart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [8]:
bigmart.shape

(8523, 12)

In [9]:
bigmart.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [11]:
bigmart.apply(lambda x: len(x.unique()))

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [16]:
bigmart.groupby('Item_Fat_Content')['Item_Fat_Content'].count()

Item_Fat_Content
LF          316
Low Fat    5089
Regular    2889
low fat     112
reg         117
Name: Item_Fat_Content, dtype: int64

In [19]:
bigmart['Item_Fat_Content'].replace('LF','Low Fat',inplace=True)
bigmart['Item_Fat_Content'].replace('reg','Regular',inplace=True)
bigmart['Item_Fat_Content'].replace('low fat','Low Fat',inplace=True)

In [21]:
bigmart['Item_Weight']=bigmart['Item_Weight'].fillna(bigmart['Item_Weight'].mean())

In [22]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [27]:
bigmart['Outlet_Size']=bigmart['Outlet_Size'].fillna(bigmart['Outlet_Size'].mode()[0])

In [28]:
bigmart.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [45]:
UniqueItems = set(bigmart.Item_Identifier)
for each in UniqueItems:
    bigmart.loc[(bigmart["Item_Identifier"]==str(each)) & (bigmart["Item_Visibility"]==0),"Item_Visibility"] = bigmart.loc[(bigmart["Item_Identifier"]==str(each)) & (bigmart["Item_Visibility"]!=0),"Item_Visibility"].mean()
bigmart["Item_Visibility"].describe()

count    8523.000000
mean        0.070749
std         0.050313
min         0.003575
25%         0.031395
50%         0.058100
75%         0.098867
max         0.328391
Name: Item_Visibility, dtype: float64

In [44]:
##np.where(bigmart['Item_Visibility']==0,visibility_avg,bigmart['Item_Visibility'])

In [46]:
bigmart['Item_Visibility'].describe()

count    8523.000000
mean        0.070749
std         0.050313
min         0.003575
25%         0.031395
50%         0.058100
75%         0.098867
max         0.328391
Name: Item_Visibility, dtype: float64

In [48]:
bigmart["Outlet_Age" ] = 2018 - bigmart["Outlet_Establishment_Year"]
bigmart["Outlet_Age"].head()

0    19
1     9
2    19
3    20
4    31
Name: Outlet_Age, dtype: int64

In [49]:
bigmart.corr()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Outlet_Age
Item_Weight,1.000000,-0.020792,0.024756,-0.008301,0.011550,0.008301
Item_Visibility,-0.020792,1.000000,-0.005951,-0.075238,-0.126026,0.075238
Item_MRP,0.024756,-0.005951,1.000000,0.005020,0.567574,-0.005020
Outlet_Establishment_Year,-0.008301,-0.075238,0.005020,1.000000,-0.049135,-1.000000
Item_Outlet_Sales,0.011550,-0.126026,0.567574,-0.049135,1.000000,0.049135
Outlet_Age,0.008301,0.075238,-0.005020,-1.000000,0.049135,1.000000

In [53]:
bigmart['Item_Type_Combined'] = bigmart['Item_Identifier'].apply(lambda x: x[0:2])

In [54]:
bigmart['Item_Type_Combined'] = bigmart['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
bigmart['Item_Type_Combined'].value_counts()

Food              6125
Non-Consumable    1599
Drinks             799
Name: Item_Type_Combined, dtype: int64

In [55]:
bigmart=bigmart.drop('Item_Identifier',axis=1)

In [56]:
bigmart=bigmart.drop('Outlet_Establishment_Year',axis=1)

In [57]:
bigmart.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Age,Item_Type_Combined
0,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380,19,Food
1,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228,9,Drinks
2,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700,19,Food
3,19.20,Regular,0.022911,Fruits and Vegetables,182.0950,OUT010,Medium,Tier 3,Grocery Store,732.3800,20,Food
4,8.93,Low Fat,0.016164,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052,31,Non-Consumable

In [58]:
mart=pd.get_dummies(bigmart,drop_first=True)

In [59]:
mart.head()

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Outlet_Age,Item_Fat_Content_Regular,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,...,Outlet_Identifier_OUT049,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Type_Combined_Food,Item_Type_Combined_Non-Consumable
0,9.30,0.016047,249.8092,3735.1380,19,0,0,0,0,1,...,1,1,0,0,0,1,0,0,1,0
1,5.92,0.019278,48.2692,443.4228,9,1,0,0,0,0,...,0,1,0,0,1,0,1,0,0,0
2,17.50,0.016760,141.6180,2097.2700,19,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
3,19.20,0.022911,182.0950,732.3800,20,1,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
4,8.93,0.016164,53.8614,994.7052,31,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1

In [60]:
mart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 39 columns):
Item_Weight                          8523 non-null float64
Item_Visibility                      8523 non-null float64
Item_MRP                             8523 non-null float64
Item_Outlet_Sales                    8523 non-null float64
Outlet_Age                           8523 non-null int64
Item_Fat_Content_Regular             8523 non-null uint8
Item_Type_Breads                     8523 non-null uint8
Item_Type_Breakfast                  8523 non-null uint8
Item_Type_Canned                     8523 non-null uint8
Item_Type_Dairy                      8523 non-null uint8
Item_Type_Frozen Foods               8523 non-null uint8
Item_Type_Fruits and Vegetables      8523 non-null uint8
Item_Type_Hard Drinks                8523 non-null uint8
Item_Type_Health and Hygiene         8523 non-null uint8
Item_Type_Household                  8523 non-null uint8
Item_Type_Meat                       8523 non-null uint8
Item_Type_Others                     8523 non-null uint8
Item_Type_Seafood                    8523 non-null uint8
Item_Type_Snack Foods                8523 non-null uint8
Item_Type_Soft Drinks                8523 non-null uint8
Item_Type_Starchy Foods              8523 non-null uint8
Outlet_Identifier_OUT013             8523 non-null uint8
Outlet_Identifier_OUT017             8523 non-null uint8
Outlet_Identifier_OUT018             8523 non-null uint8
Outlet_Identifier_OUT019             8523 non-null uint8
Outlet_Identifier_OUT027             8523 non-null uint8
Outlet_Identifier_OUT035             8523 non-null uint8
Outlet_Identifier_OUT045             8523 non-null uint8
Outlet_Identifier_OUT046             8523 non-null uint8
Outlet_Identifier_OUT049             8523 non-null uint8
Outlet_Size_Medium                   8523 non-null uint8
Outlet_Size_Small                    8523 non-null uint8
Outlet_Location_Type_Tier 2          8523 non-null uint8
Outlet_Location_Type_Tier 3          8523 non-null uint8
Outlet_Type_Supermarket Type1        8523 non-null uint8
Outlet_Type_Supermarket Type2        8523 non-null uint8
Outlet_Type_Supermarket Type3        8523 non-null uint8
Item_Type_Combined_Food              8523 non-null uint8
Item_Type_Combined_Non-Consumable    8523 non-null uint8
dtypes: float64(4), int64(1), uint8(34)
memory usage: 616.0 KB

In [61]:
y=mart['Item_Outlet_Sales']
x=mart.drop('Item_Outlet_Sales',axis=1)
print(x.shape)
print(y.shape)

(8523, 38)
(8523,)

In [62]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2,random_state=0)

In [64]:
from  sklearn  import  linear_model
lr = linear_model.LinearRegression(fit_intercept=True,normalize=True)
lr.fit (x_train,y_train)
y_pred=lr.predict(x_test)

In [65]:
from sklearn import metrics
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.56229205802812876

In [66]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_pred)
from math import sqrt
rmse=sqrt(mse)
rmse

1131.861134391145

In [82]:
from sklearn import linear_model
las=linear_model.Lasso(alpha=1,random_state=0)
las.fit(x_train,y_train)
y_pred_laso=las.predict(x_test)

In [83]:
r2_score(y_test, y_pred_laso)

0.56285434776481247

In [84]:
mse=mean_squared_error(y_test,y_pred_laso)
rmse=sqrt(mse)
rmse

1131.1338932744256

In [126]:
las_cv=linear_model.LassoCV(cv=3,normalize=True,max_iter=100,n_alphas=500)

In [127]:
las_cv.fit(x_train,y_train)
y_pred_laso_cv=las_cv.predict(x_test)

In [128]:
mse=mean_squared_error(y_test,y_pred_laso_cv)
rmse=sqrt(mse)
rmse

1131.2725334764887

In [129]:
r2_score(y_test, y_pred_laso_cv)

0.5627471815379379

In [133]:
from sklearn.linear_model import Ridge

In [159]:
ridg=Ridge(alpha=0.01,normalize=True,max_iter=100)

In [160]:
ridg.fit(x_train,y_train)

Ridge(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=100,
   normalize=True, random_state=None, solver='auto', tol=0.001)

In [161]:
y_pred_ridg=ridg.predict(x_test)

In [162]:
r2_score(y_test,y_pred_ridg)

0.5618962548882227

In [163]:
mse=mean_squared_error(y_test,y_pred_ridg)
rmse=sqrt(mse)
rmse

1132.3727688825395

In [257]:
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor(max_depth=5,n_estimators=80)

In [258]:
rf.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=80, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [259]:
y_pred_rf=rf.predict(x_test)

In [260]:
r2_score(y_test,y_pred_rf)

0.58999373809360534

In [261]:
mse=mean_squared_error(y_test,y_pred_rf)
rmse=sqrt(mse)
rmse

1095.4591290349051

In [235]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor(max_depth=5)
tree.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [236]:
y_pred_dt=tree.predict(x_test)

In [237]:
r2_score(y_test,y_pred_dt)

0.58958287283487576

In [238]:
mse=mean_squared_error(y_test,y_pred_dt)
rmse=sqrt(mse)
rmse

1096.007868699979

In [312]:
test=pd.read_csv(r"E:\Praxis-BA-18\Term-2\datasets\Retail_dataset\Test.csv")

In [336]:
test1=pd.read_csv(r"E:\Praxis-BA-18\Term-2\datasets\Retail_dataset\Test.csv")

In [313]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [314]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
Item_Identifier              5681 non-null object
Item_Weight                  4705 non-null float64
Item_Fat_Content             5681 non-null object
Item_Visibility              5681 non-null float64
Item_Type                    5681 non-null object
Item_MRP                     5681 non-null float64
Outlet_Identifier            5681 non-null object
Outlet_Establishment_Year    5681 non-null int64
Outlet_Size                  4075 non-null object
Outlet_Location_Type         5681 non-null object
Outlet_Type                  5681 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [315]:
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.065684   141.023273                1997.828903
std       4.664849         0.051252    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

In [316]:
test.shape

(5681, 11)

In [317]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [318]:
test.groupby('Item_Fat_Content')['Item_Fat_Content'].count()

Item_Fat_Content
LF          206
Low Fat    3396
Regular    1935
low fat      66
reg          78
Name: Item_Fat_Content, dtype: int64

In [319]:
test['Item_Fat_Content'].replace('LF','Low Fat',inplace=True)
test['Item_Fat_Content'].replace('reg','Regular',inplace=True)
test['Item_Fat_Content'].replace('low fat','Low Fat',inplace=True)

In [320]:
test['Item_Weight']=test['Item_Weight'].fillna(test['Item_Weight'].mean())
test['Outlet_Size']=test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0])

In [321]:
UniqueItems = set(test.Item_Identifier)
for each in UniqueItems:
    test.loc[(test["Item_Identifier"]==str(each)) & (test["Item_Visibility"]==0),"Item_Visibility"] = test.loc[(test["Item_Identifier"]==str(each)) & (test["Item_Visibility"]!=0),"Item_Visibility"].mean()
test["Item_Visibility"].describe()

count    5668.000000
mean        0.070096
std         0.050014
min         0.003591
25%         0.031253
50%         0.058049
75%         0.097088
max         0.323637
Name: Item_Visibility, dtype: float64

In [322]:
test['Item_Visibility']=test['Item_Visibility'].fillna(test['Item_Visibility'].mean())

In [323]:
test["Outlet_Age" ] = 2018 - test["Outlet_Establishment_Year"]
test["Outlet_Age"].head()

0    19
1    11
2    20
3    11
4    33
Name: Outlet_Age, dtype: int64

In [324]:

test['Item_Type_Combined'] = test['Item_Identifier'].apply(lambda x: x[0:2])

In [325]:
test['Item_Type_Combined'] = test['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})

test['Item_Type_Combined'].value_counts()

Food              4076
Non-Consumable    1087
Drinks             518
Name: Item_Type_Combined, dtype: int64

In [326]:
test=test.drop('Item_Identifier',axis=1)
test=test.drop('Outlet_Establishment_Year',axis=1)

In [327]:
test_dum=pd.get_dummies(test,drop_first=True)

In [328]:
test_dum.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Age,Item_Fat_Content_Regular,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,...,Outlet_Identifier_OUT049,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Type_Combined_Food,Item_Type_Combined_Non-Consumable
0,20.750000,0.007565,107.8622,19,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
1,8.300000,0.038428,87.3198,11,1,0,0,0,1,0,...,0,1,0,1,0,1,0,0,1,0
2,14.600000,0.099575,241.7538,20,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,7.315000,0.015388,155.0340,11,0,0,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
4,12.695633,0.118599,234.2300,33,1,0,0,0,1,0,...,0,1,0,0,1,0,0,1,1,0

In [329]:
test_dum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 38 columns):
Item_Weight                          5681 non-null float64
Item_Visibility                      5681 non-null float64
Item_MRP                             5681 non-null float64
Outlet_Age                           5681 non-null int64
Item_Fat_Content_Regular             5681 non-null uint8
Item_Type_Breads                     5681 non-null uint8
Item_Type_Breakfast                  5681 non-null uint8
Item_Type_Canned                     5681 non-null uint8
Item_Type_Dairy                      5681 non-null uint8
Item_Type_Frozen Foods               5681 non-null uint8
Item_Type_Fruits and Vegetables      5681 non-null uint8
Item_Type_Hard Drinks                5681 non-null uint8
Item_Type_Health and Hygiene         5681 non-null uint8
Item_Type_Household                  5681 non-null uint8
Item_Type_Meat                       5681 non-null uint8
Item_Type_Others                     5681 non-null uint8
Item_Type_Seafood                    5681 non-null uint8
Item_Type_Snack Foods                5681 non-null uint8
Item_Type_Soft Drinks                5681 non-null uint8
Item_Type_Starchy Foods              5681 non-null uint8
Outlet_Identifier_OUT013             5681 non-null uint8
Outlet_Identifier_OUT017             5681 non-null uint8
Outlet_Identifier_OUT018             5681 non-null uint8
Outlet_Identifier_OUT019             5681 non-null uint8
Outlet_Identifier_OUT027             5681 non-null uint8
Outlet_Identifier_OUT035             5681 non-null uint8
Outlet_Identifier_OUT045             5681 non-null uint8
Outlet_Identifier_OUT046             5681 non-null uint8
Outlet_Identifier_OUT049             5681 non-null uint8
Outlet_Size_Medium                   5681 non-null uint8
Outlet_Size_Small                    5681 non-null uint8
Outlet_Location_Type_Tier 2          5681 non-null uint8
Outlet_Location_Type_Tier 3          5681 non-null uint8
Outlet_Type_Supermarket Type1        5681 non-null uint8
Outlet_Type_Supermarket Type2        5681 non-null uint8
Outlet_Type_Supermarket Type3        5681 non-null uint8
Item_Type_Combined_Food              5681 non-null uint8
Item_Type_Combined_Non-Consumable    5681 non-null uint8
dtypes: float64(3), int64(1), uint8(34)
memory usage: 366.2 KB

In [330]:
test_dum.isnull().sum()

Item_Weight                          0
Item_Visibility                      0
Item_MRP                             0
Outlet_Age                           0
Item_Fat_Content_Regular             0
Item_Type_Breads                     0
Item_Type_Breakfast                  0
Item_Type_Canned                     0
Item_Type_Dairy                      0
Item_Type_Frozen Foods               0
Item_Type_Fruits and Vegetables      0
Item_Type_Hard Drinks                0
Item_Type_Health and Hygiene         0
Item_Type_Household                  0
Item_Type_Meat                       0
Item_Type_Others                     0
Item_Type_Seafood                    0
Item_Type_Snack Foods                0
Item_Type_Soft Drinks                0
Item_Type_Starchy Foods              0
Outlet_Identifier_OUT013             0
Outlet_Identifier_OUT017             0
Outlet_Identifier_OUT018             0
Outlet_Identifier_OUT019             0
Outlet_Identifier_OUT027             0
Outlet_Identifier_OUT035             0
Outlet_Identifier_OUT045             0
Outlet_Identifier_OUT046             0
Outlet_Identifier_OUT049             0
Outlet_Size_Medium                   0
Outlet_Size_Small                    0
Outlet_Location_Type_Tier 2          0
Outlet_Location_Type_Tier 3          0
Outlet_Type_Supermarket Type1        0
Outlet_Type_Supermarket Type2        0
Outlet_Type_Supermarket Type3        0
Item_Type_Combined_Food              0
Item_Type_Combined_Non-Consumable    0
dtype: int64

In [331]:
##Linear Regression
test_pred_lr=lr.predict(test_dum)

In [337]:
test1['lr_predict']=pd.Series(test_pred_lr)

In [349]:
test_pred_las=las.predict(test_dum)

In [350]:
test1['las_pred']=pd.Series(test_pred_las)

In [351]:
test_pred_ridg=ridg.predict(test_dum)

In [352]:
test1['ridg_pred']=pd.Series(test_pred_ridg)

In [353]:
test_pred_dt=tree.predict(test_dum)

In [354]:
test1['dt_pred']=pd.Series(test_pred_dt)

In [355]:
test_pred_rf=tree.predict(test_dum)

In [356]:
test1['rf_pred']=pd.Series(test_pred_rf)

In [369]:
test1['Item_Outlet_Sales']=test1['rf_pred']

In [370]:
test1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,lr_predict,Item_Outlet_Sales,las_pred,ridg_pred,dt_pred,rf_pred
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,1848.50,1550.393585,1840.296061,1854.074647,1550.393585,1550.393585
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1,1486.75,1550.393585,1508.613508,1506.343789,1550.393585,1550.393585
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store,1925.00,548.764416,1964.490763,1966.504824,548.764416,548.764416
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1,2620.75,2521.156679,2616.088621,2620.821872,2521.156679,2521.156679
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,5072.75,6456.735414,5100.115364,5051.133998,6456.735414,6456.735414

In [366]:
sub=test1.loc[:,['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales']]

In [367]:
sub.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1550.393585
1           FDW14            OUT017        1550.393585
2           NCN55            OUT010         548.764416
3           FDQ58            OUT017        2521.156679
4           FDY38            OUT027        6456.735414

In [368]:
sub.to_csv(r"E:\Praxis-BA-18\Term-2\datasets\Retail_dataset\submission1.csv")